/*Made by Cp any use of copy/paste of this code WILL be reported to the copy n paste police!!, no seriously
feel free to copy my code but PLEASE JUST GIVE ME CREDIT -__-  Have a nice day*/

html{
	height:98%;
	width:auto;
}

#script{
	border:1px solid black;
}

.pre-info{
	float:left;
}

.naam, .datum, .modem, .klacht {
	font-size:20px;
	text-align:center;
}

.naam{
	/*EMPTY*/
}

.datum{
	/*EMPTY*/
}

.modem{
	/*EMPTY*/	
}

.grandh1{
	text-align:center;
	font-size:40px;
	position:relative;
	margin-top:7%;
}

.wijzig{
	/*EMPTY*/	
}

#nav{
	float:center;
	text-align:center;
	position:absolute;
	top:0%;
	left:0%;
	height:8%;
	width:100%;
	background-image:url("../img/navigation.jpg");
}

#nav nav ol{
	word-spacing:50px;
}

#nav nav ol li{
	list-style-type:none;
	display:inline-block;
	float:center;
}

#nav nav ol li a{
	text-decoration:none;
	color:white;
}

.img1{
	height:0%;
	width:0%;
	visibility:hidden;
}