/*Made by Cp any use of copy/paste of this code WILL be reported to the copy n paste police!!, no seriously
feel free to copy my code but PLEASE JUST GIVE ME CREDIT -__-  Have a nice day*/

html{
	height:98%;
	width:auto;
	background-color:#f1f2f2;
}

#script{
	border:1px solid black;
	width:50%;
	margin-left:25%;
}

.pre-info{
	float:left;
}

.naam, .datum, .modem, .klacht {
	font-size:20px;
	text-align:center;
}

.naam{
	font-family:"Verdana";
}

.datum{
	font-family:"Verdana";
}

.modem{
	font-family:"Verdana";	
}

.grandh1{
	text-align:center;
	font-size:40px;
	position:relative;
	margin-top:7%;
}

.wijzig{
	/*EMPTY*/	
}

#container{
	left:0%;
	position:relative;
}

a{
	text-decoration:none;
	color: #fff;
}

.button{
	color:black;
}

.button a{
	color:black;
}

#klacht{
	position:relative;
	left:35%;
	right:75%;
}

#storing{
	position:relative;
	left:45%;
	right:50%;
}

#abonnement{
	position:relative;
	left:55%;
	right:25%;
}
