/*Made by Cp any use of copy/paste of this code WILL be reported to the copy n paste police!!, no seriously
feel free to copy my code but PLEASE JUST GIVE ME CREDIT -__-  Have a nice day*/

html{
	height:98%;
	width:auto;
	background-color:white;
}

#script{
	border:1px solid black;
	width:50%;
	margin-left:25%;
}

.pre-info{
	float:left;
}

.naam, .datum, .modem, .klacht, .internet, .solve{
	font-size:20px;
	text-align:center;
	font-family:"Verdana";
}

.naam{
	/*EMPTY*/
}

.datum{
	/*EMPTY*/
}

.modem{
	/*EMPTY*/
}

.internet{
	/*EMPTY*/
}

.solve{
	/*EMPTY*/
}

.grandh1{
	text-align:center;
	font-size:40px;
	position:relative;
	margin-top:7%;
	font-family:SansationLight;
}

.wijzig{
	/*EMPTY*/
}

#container{
	left:0%;
	position:relative;
}

a{
	color: #fff;
}

.button{
	color:black;
	border: 1px #913FTF;
	margin-right:auto;
	margin-left:auto;
	border-radius:3px;
	transition: all .2s ease-in-out;
}

.button:hover{
	transform: scale(1.5);
}

.button a{
	color:black;
	text-decoration:none;
}

#klacht{
	position:relative;
	left:35%;
	right:75%;
}

#storing{
	position:relative;
	left:45%;
	right:50%;
}

#abonnement{
	position:relative;
	left:55%;
	right:25%;
}

#reset{
	display:inline-box;
	margin-left:50%;
}

@font-face{
	font-family: SansationLight;
	src: url(../fonts/Sansation_Light.ttf)
}